/.github/
/.vscode/
/scripts/
/docs/

/roblox
/temp
/build

.gitattributes
CHANGELOG.md

.darklua*
.luau-analyze.json
.luaurc
foreman.toml
selene.toml
selene_definitions.yml
stylua.toml
.styluaignore

/globalTypes.d.lua
sourcemap.json
*.project.json

**/__tests__
**/*.test.lua
jest.config.luau

*.rbxl
*.rbxlx
*.rbxl.lock
*.rbxlx.lock
*.rbxm
*.rbxmx

